{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome</h1>
        <p class="lead">This is a Band DB</p>
    </div>
    <div>
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST" action="">
             <div class="form-group">
                {{render_field(form.band_name)}}
             </div>
            <p>
                <input type="submit" class="btn btn-primary" value="Go!">
            </p>
        </form>
    </div>
{% endblock %}